.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

/platforms
/plugins
resources/signing

www/css/app.*.css
www/css/app.*.css.map
www/js/app.*.js
www/js/app.*.js.map
www/js/manifest.*.js
www/js/manifest.*.js.map
www/js/vendor.*.js.map
www/js/vendor.*.js
/www

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

config.js
config.*.js
!config.default.js
config/config-xml.dev.js

src/entities/**/*.js
src/entities/**/*.map
src/i18n/*.json

releases
*.jks

.sentryclirc
components.d.ts
*.crt
*.key
logcat.log
log.txt