<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="edu.yale.trellis.surveyview" ios-CFBundleVersion="1" version="3.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Trellis 3</name>
  <description>The form view component of the Trellis platform.</description>
  <author email="trellis@yale.edu" href="http://trellis.yale.edu">
      Mark McKnight, Wyatt Israel
  </author>
  <preference name="DisallowOverscroll" value="true" />
  <allow-navigation href="*" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <content src="CORDOVA_CONTENT_SOURCE" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>
  <engine name="android" spec="^7.1.1" />
</widget>
