.w-full
  width: 100%
.h-full
  height: 100%
.h-screen
  height: 100vh
.w-screen
  width: 100vw
.sticky
  position: sticky

.print-mode
  .v-progress-linear
    display: none
  .v-app-bar
    display: none
  .leaflet-control-container
    display: none
  .container, .content
    padding: 0
  .v-main
    min-height: 100vh

@media print
  .main-wrapper
    overflow: visible !important
    height: auto !important

.pointer
  cursor: pointer
