.print-mode
  .v-toolbar
    display: none
  .leaflet-control-container
    display: none
  .v-progress-linear
    display: none
  .v-main
    padding: 0 0 !important
    position: absolute
    width: 90%
    margin: auto
    margin-top: 10px
    right: 0
    top: 0
    left: 0
  .container, .content
    padding: 0